<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/home.css" />
    <title>Home</title>
  </head>
  <nav>
    <div id="logo">
      <i class="fas fa-video fa-5x"></i>
      <p>ClassMeet</p>
    </div>
    <div id="time"></div>
    <div id="nav-end">
      <i class="fas fa-sliders-h fa-2x"></i>
      <i class="far fa-user fa-2x"></i>
    </div>
  </nav>
  <body>
    <div id="main">
      <div id="camera">
        <video id="video" width="640" height="480" autoplay></video>
        <i class="fas fa-microphone"></i>
        <i class="fas fa-camera-retro"></i>
      </div>
      <div id="meet-info">
        <label for="meetid">Meeting code</label>
        <input type="text" name="meetid" required>
      </div>
    </div>
  </body>
  <script src="js/camera.js"></script>
  <script src="js/time.js"></script>
</html>
