* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: #3d5a80;
}

body{
    background-color: #a9d6e5;
}

#logo, #nav-end {
  width: 300px;
}
#logo i {
  color: #0d47a1;
}
#logo p {
  font-size: 25pt;
}
p {
  font-weight: 500;
}

nav {
    height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
}

#logo, #nav-end {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


#main{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#camera video{
    border-radius: 15px;
}